.navbar {
    background-color: var(--color-secondary);
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

/* Nav Left */

.navbar__left {
    height: 3rem;
    width: 10rem;
}

/* Navbar Right */

.navbar__right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    transition: all .3s ease;
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar__list {
    list-style: none;
    display: flex;
    color: var(--color-primary);
    gap: 2.5rem;
}

.navbar__list-btn {
    color: var(--color-primary);
    font-weight: bold;
    padding: .3rem 0;
}

.navbar__list-btn:hover {
    border-bottom: 2px solid var(--color-primary);
}

.nav__btn {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    letter-spacing: .1rem;
    padding: 1rem 4rem;
    border-radius: 10rem;
    font-size: 1.1rem;
    font-weight: bold;
}

/* Responsive */

.hamburger {
    display: none;
}

.hamburger__btn {
    border: none;
    outline: none;
}

@media screen and (max-width: 750px) {
    .navbar__right{
        display: none;
    }

    .hamburger {
        display: block;
    }

    .navbar__list {
        display: table;
        text-align: center;
    }

    .navbar__list > li {
        margin-top: 2rem;
    }

    .navbar__right {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 5rem;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
      }
    
      .navbar__right.active {
        background: var(--color-secondary);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
      }
}